:root{
    --cor0: #CFC6B7;
    --cor1: #A59376;
    --cor2: #FAE2BB;
    --cor3: #7A6543;
    --cor4: #503D1F;
    --cor5: #33240B;
    --cor6: rgb(10, 10, 10);

    --fonte-texto: 'Arial', sans-serif;
    --fonte-destaque: 'AlmendraSC', serif;
}

@font-face {
    font-family: 'AlmendraSC';
    src: url(../fontes/AlmendraSC-Regular.ttf);
}


html{
    margin:0;
    padding:0;
}
body{
    background-color: var(--cor5);
    margin: 0;
    padding: 0;
}
header{
    background-color: var(--cor1);
    display: flex;
}
footer{
    
    background-color: var(--cor3);
}
h1{
    color: var(--cor0);
    font-family: var(--fonte-destaque);
    font-size: 40px;
}
nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin:auto;
    font-family: var(--fonte-texto);
    padding: 5px;
    height: 85px;
}
a{
    text-decoration: none;
    color: var(--cor6);
    font-size: 25px;
    font-family: var(--fonte-texto);
    padding-left: 20px;
    white-space: nowrap;
}
a:hover{
    color:#242424;
}
#img_logo{
    width: 100px;
}
.img_header{
    width: 55px;
    position:relative;
    margin:8px;
}