<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Coffe Break Shop</title>
</head>
<body>
    <header>
        <nav>
            <a href="#">Produtos</a>
            <a href="#">Categorias</a>
            <a href="#">Ofertas</a>
            <a href="#">Sobre Nós</a>

        </nav>
        <div id="div_imgs_menu">
            <img class="img_header" src="../imgs/sacola.png" alt="Icone da Sacola">
            <img class="img_header" src="../imgs/user.png" alt="Icone User">
        </div>
    </header>
</body>
</html>