<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="../imgs/xicara-fav-icon.png" type="image/png">
    <title>Coffe Break Shop</title>
</head>
<body>
    <header>
        <img id="img_logo" src="../imgs/xicara-logo.png" alt="Icone logo Coffe Break">
        <nav>
            <a href="#">Produtos</a>
            <a href="#">Categorias</a>
            <a href="#">Ofertas</a>
            <a href="#">Sobre Nós</a>

        </nav>
        <div id="div_imgs_menu">
            <img class="img_header" src="../imgs/carrinho.png" alt="Icone da Sacola">
            <img class="img_header" src="../imgs/user.png" alt="Icone User">
        </div>
    </header>
    <main>
        <div id="barra_pesquisa">
            Pesquisar Produtos
        </div>
        <section id="sec_principais_ofertas">
            <h1><u>Principais Ofertas</u></h1>
            <img src="../imgs/sacola.png" alt="">
            <img src="../imgs/sacola.png" alt="">
            <img src="../imgs/sacola.png" alt="">
            <img src="../imgs/sacola.png" alt="">
        </section>
        <section>
            <h1><u>Produtos Em Destaque</u></h1>
            <img src="../imgs/sacola.png" alt="">
            <img src="../imgs/sacola.png" alt="">
            <img src="../imgs/sacola.png" alt="">
            <img src="../imgs/sacola.png" alt="">
        </section>
        <section>
            <h1><u>Categorias</u></h1>
            <img src="../imgs/sacola.png" alt="">
            <img src="../imgs/sacola.png" alt="">
            <img src="../imgs/sacola.png" alt="">
            <img src="../imgs/sacola.png" alt="">
        </section>
        
    </main>
    <footer>
        <p>&copy;LACB</p>
    </footer>
</body>
</html>